* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
    }
    &::-webkit-scrollbar-track {
    background: whitesmoke;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    width:100%;
}

.App {
    transition: all 0.5s ease;
    margin: auto;
    width: 100%;
}

.nav {
    min-height: 8vh;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0rem;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10;

    ul {
        display: flex;
        list-style: none;
    }

    li {
        padding-left: 5rem;
        position: relative;
        a {
            color: rgb(117, 117, 117);
            text-decoration: none;
            .svg-inline--fa {
                width: 1.8em;
                height: 1.8em;
            }
        }
    }
    .account {
        display: flex;
        align-items: center;
        margin-left: 3rem;
        .svg-inline--fa {
            width: 1.2em;
            height: 1.2em;
        }
        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-left: 1rem;
        }
    }
    @media (max-width: 1300px) {
        flex-direction: column;
        padding: 2rem 1rem;

        ul {
            padding: 2rem;
            justify-content: space-around;
            width: 100%;
            li {
            padding: 0;
            }
        }
    }
}

@import './home';
@import './booking';