* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    &::-webkit-scrollbar {
        width: 0.5rem;
        @media (max-width: 1199px) {
            display: none;
        }
    }
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        @media (max-width: 1199px) {
            display: none;
        }
    }
    &::-webkit-scrollbar-track {
        background: whitesmoke;
        @media (max-width: 1199px) {
            display: none;
        }
    }
    
}

body {
    font-family: 'Montserrat', sans-serif;
    width:100%;
}

.App {
    transition: all 0.5s ease;
    margin: auto;
    width: 100%;
}

.nav {
    min-height: 8vh;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0rem;
    background: #ffffff;
    top: 0;
    z-index: 10;

    ul {
        display: flex;
        list-style: none;
    }

    li {
        padding-left: 5rem;
        position: relative;
        a {
            color: rgb(150, 150, 150);
            text-decoration: none;
            z-index: 2;
            .svg-inline--fa {
                width: 1.4em;
                height: 1.4em;
                z-index: 2;
                path {
                    z-index: 5;
                }
            }
            .svg-inline--fa.active {
                color: #013066;
            }
        }
        .line {
            height: 0.7rem;
            background: #D4DF5D;
            width: 0%;
            position: absolute;
            bottom: -60%;
            left: 75%;
            z-index: 1;
        }
    }
    .account {
        display: flex;
        align-items: center;
        margin-left: 3rem;
        .svg-inline--fa {
            width: 1em;
            height: 1em;
        }
        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin-left: 1rem;
        }
    }
    @media (max-width: 1199px) {
        width: 100%;
        justify-content: space-between;
        margin: 0;
        padding: 1rem;
        .account {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            margin-right: 1rem;
            .svg-inline--fa {
                display: none;
            }
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-left: 1rem;
            }
        }
        li {
            padding-left: 4rem;
            position: relative;
            a {
                color: rgb(150, 150, 150);
                text-decoration: none;
                .svg-inline--fa {
                    width: 1.3em;
                    height: 1.3em;
                }
            }
        }
    }
}

@import './home';
@import './booking';